:root {
  --ff-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--ff-plus-jakarta);
  --font-mono: var(--ff-plus-jakarta);
}

/* Styles for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none; /* Disable animations */
    transition: none; /* Disable transitions */
    transform: none; /* Reset any transform properties */
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--ff-sans);
  line-height: 1.6;
  @apply min-h-screen grid place-items-center transition-colors duration-300;
}

button {
  @apply cursor-pointer;
  &:disabled {
    @apply cursor-not-allowed;
  }
}

input {
  min-inline-size: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input {
  &[type="radio"],
  &[type="checkbox"] {
    accent-color: hsl(var(--accent-color));
  }
  outline-color: hsl(var(--accent-color));
}

dialog {
  &::backdrop {
    background-color: hsl(var(--background) / 0.8);
    @apply backdrop-blur-sm;
  }
}

.rounded-x-full {
  @apply rounded-l-full rounded-r-full;
}

.rounded-y-full {
  @apply rounded-t-full rounded-b-full;
}
