@use "../functions/" as f;
@use "../globals/states" as s;
@use "sass:map";
@use "sass:list";

$colorsMap: (
  blue-900: 209 23% 22%,
  blue-950: 207 26% 17%,
  grey-950: 200 15% 8%,
  grey-400: 0 0% 50%,
  grey-50: 0 0% 99%,
  white: 0 100% 100%,
  background: var(--background),
  foreground: var(--foreground),
);

$primary-color: map.get($colorsMap, grey-50);
$link-color: map.get($colorsMap, blue-950);
$text-color: map.get($colorsMap, grey-950);
$accent-color: map.get($colorsMap, blue-950);

$exluded-variables: background foreground;

:root {
  & {
    @each $name, $color in $colorsMap {
      @if not list.index($exluded-variables, $name) {
        --#{""+$name}: #{$color};
      }
    }
  }
  --background: var(--grey-50);
  --foreground: var(--grey-950);
  --accent-color: #{$accent-color};
  --link-color: #{$link-color};

  // project specific
  --element-bg: var(--white);
  --input: var(--grey-400);
  @media (prefers-color-scheme: dark) {
    --background: var(--blue-950);
    --foreground: var(--white);

    // project specific
    --element-bg: var(--blue-900);
    --input: var(--element-bg);
  }
  &[theme="dark"],
  *[theme="dark"] {
    --background: var(--blue-950);
    --foreground: var(--white);

    // project specific
    --element-bg: var(--blue-900);
    --input: var(--element-bg);
  }
  &[theme="light"],
  *[theme="light"] {
    --background: var(--grey-50);
    --foreground: var(--grey-950);
    --accent-color: #{$accent-color};
    --link-color: #{$link-color};

    // project specific
    --element-bg: var(--white);
    --input: var(--grey-400);
  }
  --outstand: var(--element-bg);
}

@mixin active-colors($suffix) {
  .active-#{$suffix}.active-#{$suffix} {
    @include s.active-state {
      @content;
    }
  }
}

@each $name, $color in $colorsMap {
  .#{"" + $name},
  .hv-#{"" + $name}:hover,
  .a-#{"" + $name}:active,
  .a-#{"" + $name}:focus {
    background-color: hsl(var(--#{"" + $name}) / var(--bg-accent, 1));
    transition: background-color ease-in-out 0.3s;
  }
  @include active-colors(#{"" + $name}) {
    background-color: hsl(var(--#{"" + $name}) / var(--bg-accent, 1));
    transition: background-color ease-in-out 0.3s;
  }

  .c-#{"" + $name}.c-#{"" + $name},
  .hv-c-#{"" + $name}:hover,
  .a-c-#{"" + $name}:active,
  .a-c-#{"" + $name}:focus {
    color: hsl(var(--#{"" + $name}) / var(--txt-accent, 1));
    transition: color ease-in-out 0.3s;
  }
  @include active-colors(#{"c-" + $name}) {
    color: hsl(var(--#{"" + $name}) / var(--txt-accent, 1));
    transition: color ease-in-out 0.3s;
  }

  .b-#{"" + $name}.b-#{"" + $name},
  .hv-b-#{"" + $name}.hv-b-#{"" + $name}:hover,
  .a-b-#{"" + $name}.a-b-#{"" + $name}:active,
  .a-b-#{"" + $name}.a-b-#{"" + $name}:focus {
    border-color: hsl(var(--#{"" + $name}) / 1);
    transition: border ease-in-out 0.3s;
  }
  @include active-colors(#{"b-" + $name}) {
    border-color: hsl(var(--#{"" + $name}) / 1);
    transition: border ease-in-out 0.3s;
  }

  .out-#{"" + $name},
  .hv-out-#{"" + $name}:hover,
  .a-out-#{"" + $name}:active,
  .a-out-#{"" + $name}:focus {
    outline-color: hsl(var(--#{"" + $name}) / 1);
    transition: outline ease-in-out 0.3s;
  }
  @include active-colors(#{"out-" + $name}) {
    outline-color: hsl(var(--#{"" + $name}) / 1);
    transition: outline ease-in-out 0.3s;
  }
}
