.country-card {
  @apply transition-transform duration-300 cursor-pointer;
  &:hover,
  &:focus-within {
    @apply scale-105;
  }
  &:active {
    @apply scale-95;
  }
  .country-card__link {
    &:hover,
    &:focus,
    &:active {
      @apply outline-none;
      text-decoration: underline;
      text-decoration-style: dotted;
    }
  }
}

.paging-suspense {
  .paging-suspense__summary {
    &::marker {
      content: "";
    }
  }
  .paging-suspense__container {
    background-color: hsl(var(--background));
    @apply absolute 
    flex justify-center flex-wrap 
    pb-4 gap-2 top-4 z-10
    inset-x-0 md:inset-x-auto 
    md:left-1/2 md:-translate-x-1/2;
  }
}
