.outstand {
  background-color: hsl(var(--outstand));
}

.outstand-button {
  @apply transition-transform duration-300;
  &:active,
  &:focus,
  &:hover {
    &:not(:disabled) {
      @apply opacity-80 outline-2;
    }
  }
  &:hover,
  &:focus {
    &:not(:disabled) {
      @apply scale-105;
    }
  }
  &:active {
    &:not(:disabled) {
      @apply scale-95;
    }
  }
}
